.video-mobile video{
    width: 30vw;
    max-width: 500px;
    min-width: 250px;
    height: auto;
}


@keyframes slide-up {
    0% {
        transform: translateY(50px); /* Startposition der Animation */
        opacity: 0; /* Startopazität */
    }
    100% {
        transform: translateY(0); /* Endposition der Animation */
        opacity: 1; /* Endopazität */
    }
}


.animate {
    animation: slide-up 1.5s ease forwards;
}
