.video-header {
    position: relative;
    width: 100%;
}

.video-header video {
    position: relative;
    width: 98%;
    border-radius: 25px;
    height: auto;
    max-width: 100%;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loading-overlay span {
    color: #fff;
    font-size: 18px;
}

.loading-spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top-color: #999;
    animation: loading-spin 1s linear infinite;
}

@keyframes loading-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(50px); /* Startposition der Animation */
        opacity: 0; /* Startopazität */
    }
    100% {
        transform: translateY(0); /* Endposition der Animation */
        opacity: 1; /* Endopazität */
    }
}

.animate {
    animation: slide-up 1.5s ease forwards;
}

@media (max-width: 850px) {
    /* Styles für Smartphones */

    .video-header video{
        width: 100%;
    }
}


