.year-list-container {
    position: fixed;
    top: 0;
    right: 100px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 50%;
    align-items: center;
    z-index: 10000;
}

.year-list {
    margin: 0;
    background-color: black;
    text-align: left;
    border-radius: 15px;
    color: white;
    width: 150px;
    height: auto;
    padding: 10px;
}

.year-list li {
    font-size: 16px;
    margin-bottom: 10px;
}
