.aboutme_input_container{
    width: 100%;
    border-radius: 5px;
    margin-left: 5px;
    height: 650px;
    border: 1px solid #eeeeee;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}