.header {
    padding: 20px 60px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.logo img {
    width: 200px;
    height: auto;
}

.menu-bar {
    display: flex;
    gap: 100px;
    list-style-type: none;
}

.menu-bar li {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.menu-bar li:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130%;
    min-width: 130px;
    height: 200%;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: border-color 0.3s ease-in-out;
}

.menu-bar li:last-child::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 130px;
    width: 130%;
    height: 200%;
    border: 1px solid #fd8c3f;
    transition: border-color 0.3s ease-in-out;
    border-radius: 6px;
}

.menu-bar li:last-child:hover::before {
    border-color: lightgrey;
    cursor: pointer;
}

.menu-bar li:hover::before {
    border-color: #fd8c3f;
    cursor: pointer;
}