.footer {
    height: auto;
    width: auto;
    margin-top: 200px;
    position: relative;
}

.footer_txt_wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(247, 153, 2, 0.26);
}

.upper_footer_wrapper {
    height: 250px;
    margin-top: -4px;
    background-color: rgba(247, 153, 2, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
}

.footer_back h1{
    font-size: 20px;
    color: white;
}

.footer_back h1:hover {
    animation: pulse 1s ease-in-out infinite;
    cursor: pointer;
    color: #fd8c3f;
}

.downer_footer_wrapper {
    height: auto;
    background-color: white;
    text-align: center;
    margin-top: 10px;
}

.downer_footer_wrapper img:hover{
    animation: pulse 1s ease-in-out infinite;
}

#footer_logo{
    height: auto;
    width: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 180px;
}

#footer_xing{
    height: auto;
    width: 30px;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}

#footer_linked_in{
    height: auto;
    width: 40px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}