.main_body {
    background-color: white;
}

.introduction_body {
    display: flex;
    justify-content: center;
    height: auto;
    border-bottom: 1px solid lightgrey;
    background-color: rgba(245, 245, 245, 0.71);
}

.projects_body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    height: auto;
    min-height: 500px;
}

.portrait {
    display: flex;
    justify-content: center;
    padding: 100px;
    align-items: flex-start;
}

.portrait img {
    width: 60%;
    min-width: 250px;
    height: auto;
    border-radius: 500px;
    border: 30px solid white;
    animation: floating 3s ease-in-out infinite, shadow-pulse 3s ease-in-out infinite;
}

.portrait img:hover{
    cursor: pointer;
}

.introduction {
    padding: 75px 100px 50px;
    text-align: center;
    width: 60%;
    max-width: 1000px;
    min-width: 400px;
    height: auto;
}


h1 {
    height: 75px;
    line-height: 75px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 2vw;
}

h2 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

h3 {
    height: 75px;
    line-height: 75px;
    font-weight: normal;
    white-space: nowrap;
    font-size: 3.5rem;
}

#animated-text {
    overflow: hidden;
    border-right: 0.15em solid #000; /* Animationseffekt: blinkender Cursor */
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    margin: 0; /* Zur Sicherheit, um den Standardabstand zu entfernen */
    animation: typing 8s steps(40) infinite alternate;
}

#intro_job_title {
    color: #fd8c3f;
}

.invisible_writer_dot {
    animation: thepulse 1s ease-in-out infinite;
    vertical-align: text-bottom;
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: black;
    margin-left: 0.2em;
}

p {
    text-align: justify;
}

.introduction_text_container{
    width: 100%;
    margin-left: 20px;
}

.introduction_text {
    line-height: 1.5;
    font-size: 16px;
    hyphens: auto;
}

.introduction_final {
    font-size: 22px;
    font-family: "Agency FB";
}

@keyframes thepulse {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
}

@keyframes flameAnimation {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.3) translateY(-10px);
        opacity: 0.8;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.flame-emoji {
    animation: flameAnimation 1s ease-in-out infinite;
}

@media (min-width: 2500px){

    h1{
        font-size: 50px !important;
    }
}

@media (max-width: 850px){
    /* Styles für Smartphones */



    .introduction_body {
        flex-direction: column; /* Ändert die Ausrichtung auf stapelnde Anordnung */
        align-items: center; /* Zentriert den Inhalt vertikal */
        padding: 20px 0; /* Verringert den oberen und unteren Innenabstand */
    }

    .projects_body {
        margin-top: 60px; /* Verringert den oberen Abstand */
    }

    .portrait {
        padding: 20px 0; /* Verringert den Innenabstand */
        padding-top: 40px;
    }

    .portrait img {
        width: 45%; /* Reduziert die Breite des Bildes */
        min-width: 150px; /* Verringert die Mindestbreite des Bildes */
        border-width: 10px; /* Verringert die Rahmenbreite */
    }

    .introduction {
        padding: 20px 20px; /* Verringert den Innenabstand */
        width: 100%; /* Nimmt die volle Breite ein */
        max-width: none; /* Entfernt die maximale Breitenbegrenzung */
    }

    .introduction_text{
        margin: 20px;
    }

    .introduction_final{
        margin: 20px;
    }

    .introduction_text_container{
        width: 100%;
        margin-left: 0;
    }

    h1 {
        height: 50px;
        line-height: 40px;
        font-size: 6vw;
    }

    h2 {
        padding: 10px;
        font-size: 4vw;
    }

    h3 {
        font-size: 2rem;
    }

    #intro_job_title{
        font-size: 6vw;
    }

}

@font-face {
    font-family: 'Agency FB';
    src: url('../../resources/fonts/agency_fb.ttf') format('truetype');
    /* Weitere Optionen zur Schriftart wie font-weight, font-style, etc. */
}
